/**
 * Document defaults
 */
body {
  text-align: center;
  background-color: #000000;
}

* {
  box-sizing: border-box;
}

h1 {
  color: #fff;
  text-align: center;
  font-size: 7em;
  font-family: 'roboto';
}

@media screen and (max-width: 762px) {
  h1 {
    font-size: 6em;
  }
}

@media screen and (max-width: 502px) {
  h1 {
    font-size: 5em;
  }
}

@media screen and (max-width: 320px) {
  h1 {
    font-size: 3em;
  }
}

/* The loader */
.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  overflow: hidden;
  width: 150px;
  height: 150px;
  margin-top: -100px;
  margin-left: -100px;
  -webkit-perspective: 600px;
          perspective: 600px;
  -webkit-transform-style: perserve-3d;
          transform-style: perserve-3d;
}

/* The dots */
.dots {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-perspective: 500px;
          perspective: 500px;
  -webkit-transform-style: perserve-3d;
          transform-style: perserve-3d;
  -webkit-animation: dots 6000ms cubic-bezier(0, 0, 1, 1) infinite;
          animation: dots 6000ms cubic-bezier(0, 0, 1, 1) infinite;
}

@-webkit-keyframes dots {
  0%, 15% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  25%, 40% {
    -webkit-transform: rotateZ(90deg);
            transform: rotateZ(90deg);
  }
  50%, 65% {
    -webkit-transform: rotateZ(180deg);
            transform: rotateZ(180deg);
  }
  75%, 90% {
    -webkit-transform: rotateZ(270deg);
            transform: rotateZ(270deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

@keyframes dots {
  0%, 15% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  25%, 40% {
    -webkit-transform: rotateZ(90deg);
            transform: rotateZ(90deg);
  }
  50%, 65% {
    -webkit-transform: rotateZ(180deg);
            transform: rotateZ(180deg);
  }
  75%, 90% {
    -webkit-transform: rotateZ(270deg);
            transform: rotateZ(270deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

/* The dot */
.dot {
  position: absolute;
  top: 40%;
  left: 40%;
  width: 15px;
  height: 50px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 999px;
  background-color: #4dff4d;
  -webkit-transform-style: perserve-3d;
          transform-style: perserve-3d;
  -webkit-animation: dot 1500ms cubic-bezier(0.7, 0.05, 0.39, 0.88) infinite;
          animation: dot 1500ms cubic-bezier(0.7, 0.05, 0.39, 0.88) infinite;
}

.dot:nth-child(1) {
  -webkit-transform: translateY(-40px);
      -ms-transform: translateY(-40px);
          transform: translateY(-40px);
}

.dot:nth-child(2) {
  -webkit-transform: translateX(-20px) translateY(-20px);
      -ms-transform: translateX(-20px) translateY(-20px);
          transform: translateX(-20px) translateY(-20px);
  -webkit-animation-name: dot2;
          animation-name: dot2;
}

.dot:nth-child(3) {
  -webkit-transform: translateX(20px) translateY(-20px);
      -ms-transform: translateX(20px) translateY(-20px);
          transform: translateX(20px) translateY(-20px);
  -webkit-animation-name: dot3;
          animation-name: dot3;
}

.dot:nth-child(4) {
  -webkit-transform: translateX(-40px) translateY(0px);
      -ms-transform: translateX(-40px) translateY(0px);
          transform: translateX(-40px) translateY(0px);
  -webkit-animation-name: dot4;
          animation-name: dot4;
}

.dot:nth-child(5) {
  -webkit-transform: translateX(0px) translateY(0px);
      -ms-transform: translateX(0px) translateY(0px);
          transform: translateX(0px) translateY(0px);
  -webkit-animation-name: dot5;
          animation-name: dot5;
}

.dot:nth-child(6) {
  -webkit-transform: translateX(40px) translateY(0px);
      -ms-transform: translateX(40px) translateY(0px);
          transform: translateX(40px) translateY(0px);
  -webkit-animation-name: dot6;
          animation-name: dot6;
}

.dot:nth-child(7) {
  -webkit-transform: translateX(-20px) translateY(20px);
      -ms-transform: translateX(-20px) translateY(20px);
          transform: translateX(-20px) translateY(20px);
  -webkit-animation-name: dot7;
          animation-name: dot7;
}

.dot:nth-child(8) {
  -webkit-transform: translateX(20px) translateY(20px);
      -ms-transform: translateX(20px) translateY(20px);
          transform: translateX(20px) translateY(20px);
  -webkit-animation-name: dot8;
          animation-name: dot8;
}

.dot:nth-child(9) {
  -webkit-transform: translateX(0px) translateY(40px);
      -ms-transform: translateX(0px) translateY(40px);
          transform: translateX(0px) translateY(40px);
  -webkit-animation-name: dot9;
          animation-name: dot9;
}

@-webkit-keyframes dot {
  0% {
    -webkit-transform: translateX(0) translateY(-40px);
            transform: translateX(0) translateY(-40px);
  }
  10%, 20% {
    -webkit-transform: translateX(20px) translateY(-20px);
            transform: translateX(20px) translateY(-20px);
  }
  30%, 50% {
    -webkit-transform: translateX(0px) translateY(0px);
            transform: translateX(0px) translateY(0px);
  }
}

@keyframes dot {
  0% {
    -webkit-transform: translateX(0) translateY(-40px);
            transform: translateX(0) translateY(-40px);
  }
  10%, 20% {
    -webkit-transform: translateX(20px) translateY(-20px);
            transform: translateX(20px) translateY(-20px);
  }
  30%, 50% {
    -webkit-transform: translateX(0px) translateY(0px);
            transform: translateX(0px) translateY(0px);
  }
}

@-webkit-keyframes dot2 {
  0% {
    -webkit-transform: translateX(-20px) translateY(-20px);
            transform: translateX(-20px) translateY(-20px);
  }
  10%, 55% {
    -webkit-transform: translateX(0px) translateY(0px);
            transform: translateX(0px) translateY(0px);
  }
}

@keyframes dot2 {
  0% {
    -webkit-transform: translateX(-20px) translateY(-20px);
            transform: translateX(-20px) translateY(-20px);
  }
  10%, 55% {
    -webkit-transform: translateX(0px) translateY(0px);
            transform: translateX(0px) translateY(0px);
  }
}

@-webkit-keyframes dot4 {
  0% {
    -webkit-transform: translateX(-40px) translateY(0px);
            transform: translateX(-40px) translateY(0px);
  }
  10%, 30% {
    -webkit-transform: translateX(-20px) translateY(20px);
            transform: translateX(-20px) translateY(20px);
  }
  40%, 65% {
    -webkit-transform: translateX(0px) translateY(0px);
            transform: translateX(0px) translateY(0px);
  }
}

@keyframes dot4 {
  0% {
    -webkit-transform: translateX(-40px) translateY(0px);
            transform: translateX(-40px) translateY(0px);
  }
  10%, 30% {
    -webkit-transform: translateX(-20px) translateY(20px);
            transform: translateX(-20px) translateY(20px);
  }
  40%, 65% {
    -webkit-transform: translateX(0px) translateY(0px);
            transform: translateX(0px) translateY(0px);
  }
}

@-webkit-keyframes dot6 {
  0%, 10% {
    -webkit-transform: translateX(40px) translateY(0px);
            transform: translateX(40px) translateY(0px);
  }
  20% {
    -webkit-transform: translateX(20px) translateY(-20px);
            transform: translateX(20px) translateY(-20px);
  }
  30%, 70% {
    -webkit-transform: translateX(0px) translateY(0px);
            transform: translateX(0px) translateY(0px);
  }
}

@keyframes dot6 {
  0%, 10% {
    -webkit-transform: translateX(40px) translateY(0px);
            transform: translateX(40px) translateY(0px);
  }
  20% {
    -webkit-transform: translateX(20px) translateY(-20px);
            transform: translateX(20px) translateY(-20px);
  }
  30%, 70% {
    -webkit-transform: translateX(0px) translateY(0px);
            transform: translateX(0px) translateY(0px);
  }
}

@-webkit-keyframes dot8 {
  0%, 10% {
    -webkit-transform: translateX(20px) translateY(20px);
            transform: translateX(20px) translateY(20px);
  }
  20%, 80% {
    -webkit-transform: translateX(0px) translateY(0px);
            transform: translateX(0px) translateY(0px);
  }
}

@keyframes dot8 {
  0%, 10% {
    -webkit-transform: translateX(20px) translateY(20px);
            transform: translateX(20px) translateY(20px);
  }
  20%, 80% {
    -webkit-transform: translateX(0px) translateY(0px);
            transform: translateX(0px) translateY(0px);
  }
}

@-webkit-keyframes dot9 {
  0%, 10% {
    -webkit-transform: translateX(0px) translateY(40px);
            transform: translateX(0px) translateY(40px);
  }
  20%, 30% {
    -webkit-transform: translateX(-20px) translateY(20px);
            transform: translateX(-20px) translateY(20px);
  }
  40%, 85% {
    -webkit-transform: translateX(0px) translateY(0px);
            transform: translateX(0px) translateY(0px);
  }
}

@keyframes dot9 {
  0%, 10% {
    -webkit-transform: translateX(0px) translateY(40px);
            transform: translateX(0px) translateY(40px);
  }
  20%, 30% {
    -webkit-transform: translateX(-20px) translateY(20px);
            transform: translateX(-20px) translateY(20px);
  }
  40%, 85% {
    -webkit-transform: translateX(0px) translateY(0px);
            transform: translateX(0px) translateY(0px);
  }
}

@-webkit-keyframes dot3 {
  0%, 20% {
    -webkit-transform: translateX(20px) translateY(-20px);
            transform: translateX(20px) translateY(-20px);
  }
  30%, 60% {
    -webkit-transform: translateX(0px) translateY(0px);
            transform: translateX(0px) translateY(0px);
  }
}

@keyframes dot3 {
  0%, 20% {
    -webkit-transform: translateX(20px) translateY(-20px);
            transform: translateX(20px) translateY(-20px);
  }
  30%, 60% {
    -webkit-transform: translateX(0px) translateY(0px);
            transform: translateX(0px) translateY(0px);
  }
}

@-webkit-keyframes dot7 {
  0%, 30% {
    -webkit-transform: translateX(-20px) translateY(20px);
            transform: translateX(-20px) translateY(20px);
  }
  40%, 75% {
    -webkit-transform: translateX(0px) translateY(0px);
            transform: translateX(0px) translateY(0px);
  }
}

@keyframes dot7 {
  0%, 30% {
    -webkit-transform: translateX(-20px) translateY(20px);
            transform: translateX(-20px) translateY(20px);
  }
  40%, 75% {
    -webkit-transform: translateX(0px) translateY(0px);
            transform: translateX(0px) translateY(0px);
  }
}
